<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <!-- the following enables Google Chrome Frame, see also below: conditional inclusion for IE older than 7 -->
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <title>Experimenting for DACS - Angularjs and selecting a list</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
</head>
<body>

<!--[if lt IE 8]>
<p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
<![endif]-->

<p>Just a test...</p>

<div id="ng:app" class="ng-app" ng-app="selectListApp">
  <p>I am nominating myself for</p>
  <div ng-controller="SelectListCtrl">

    <!-- We should have one radio button checked initially (see http://www.w3.org/TR/html401/interact/forms.html#radio), but we hide it, as unnecessary for the user: -->
    <input type="radio" name="upcomingOrRevisionGroup" ng-hide="true" checked>
    <input type="radio" name="upcomingOrRevisionGroup" ng-click="setUpcoming(true)">An upcoming election
    <input type="radio" name="upcomingOrRevisionGroup" ng-click="setUpcoming(false)">A list revision

    <hr/>

    <div ng-show="wantsUpcomingElection">
      <div>
        <select ng-model="selectedUpcomingElection" ng-options="e.name for e in upcomingElections" ng-change="updateRegionalityControls()">
          <option value="">Choose an election...</option>
        </select>
        <select ng-model="selectedElectionType" ng-options="type.name for type in electionTypes" ng-change="updateRegionalityControls()">
          <option value="">Choose an election type...</option>
        </select>
      </div>

      <div ng-show="upcomingRegionality">
        ... now select province, region, municipality, and maybe ward.
      </div>
    </div>

    <p ng-show="wantsListRevision">
      Show something about list revisions
    </p>

    <hr/>
    DEBUG: What's the state in the controller:
    wantsUpcomingElection={{wantsUpcomingElection}}
    selectedUpcomingElection={{selectedUpcomingElection}}
    selectedElectionType={{selectedElectionType}}
  </div>
</div>

</body>
</html>
